APP_ENV=local
ORGANIZATION_URL=http://organization.globalchat.internal:8000
IDENTITY_URL=http://identity.globalchat.internal:8001
USER_URL=http://user.globalchat.internal:8002
CONVERSATION_URL=http://conversation.globalchat.internal:8003
MESSAGING_URL=http://messaging.globalchat.internal:8004
MEDIA_URL=http://media.globalchat.internal:8005
NOTIFICATION_URL=http://notification.globalchat.internal:8006
CORS_ALLOWED_ORIGINS=https://michat.in,https://app.michat.in,https://admin.michat.in
